<div class="row">
    <div class="col-md-12">
        <p>Companies in this building </p>
        <table class="table">
        <thead class="thead-dark">
            <tr>
            <th>Name</th>
            <th>Business Description</th>
            </tr>
        </thead>

        <tbody>
            <% companies.each do |company| %>
            <tr>
                <td><%= link_to company.name, company_path(company) %></td>
                <td><%= company.business_description %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>