<p id="notice"><%= notice %></p>

<h1>companies</h1>
<%= link_to 'New company', new_company_path, class: "btn btn-success" %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Business Description</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company_path(company) %></td>
        <td><%= company.business_description %></td>
      </tr>
    <% end %>
  </tbody>
</table>